<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="#" class = "logo"></a>
        <ul>
            <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
            <li><a href="{{ url_for('search') }}" class="active">Search Tweet</a></li>
            <li><a href="{{ url_for('search_tweets') }}">Search By User</a></li>
        </ul>
    </header>
    {% block content %}
    {% endblock %}
    </body>
</html>
